* {
    color: rgb(0, 0, 0);
    outline: 1px solid red;
    font-family:'Courier New', Courier, monospace;
    padding: 5px; /*increases the space between the border of a box and the content of the box. */
    border: 1px; /* adds space (even if it’s only a pixel or two) between the margin and the padding.*/
    margin: 10px; /* increases the space between the borders of a box and the borders of adjacent boxes.*/
}

header{
    text-align: center;
}

section #searchForm{
    text-align: center;
}

#movieInfo{
    display: flex;
}

#movieInfo #posterbox #poster{
    border-radius: 15px;
}

footer{
    text-align: center;
}